* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(230, 165, 191);
  --drum-background: #e7e1e18d;
  --app-background: rgb(193, 195, 223);
  --text-color: rgb(240, 223, 223);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  user-select: none;
  background: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#drum-machine {
  position: relative;
  width: 600px;
  height: auto;
  text-align: center;
  background-color: var(--drum-background);
  box-shadow: rgb(73, 73, 73) 0px 0px 15px;
  padding: 15px;
}

#drum-machine #drum-pad {
  width: 333px;
  height: auto;
  display: inline-block;
  margin: 20px;
}

#drum-machine #drum-pad .drum-key,
.drum-key-active {
  position: relative;
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: large;
  font-weight: 900;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--main-color);
  margin-top: 10px;
  box-shadow: black 2px 2px 2px;
}

#drum-machine #drum-pad .drum-key:active,
.drum-key-active {
  background-color: rgba(255, 166, 0, 0.725);
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

div {
  display: block;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  color: var(--main-color);
  text-shadow: 0px 1px 2px #222;
}

.controlTitle {
  font-size: 30px;
  margin-top: 10px;
  color: var(--text-color);
  text-shadow: 0px 0px 2px #000000;
}

.controleBlock {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(159, 147, 147, 0.41);
}

.controle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.leftCol,
.rightCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px 10px;
}

.changeSoundGroup,
.powerButtonActive,
.powerButtonInactive {
  width: 150px;
  background-color: #2c2828;
  color: var(--text-color);
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: black 1px 1px 1px;
}

.changeSoundGroup:hover {
  background-color: #ccacac;
}

#display {
  color: rgb(196, 196, 196);
  padding: 5px 10px;
  margin: 6px;
  border-radius: 3px;
  width: 300px;
  background-color: rgb(0, 0, 0);
  box-shadow: black 1px 1px 3px;
}

.volumeTitle {
  margin: 10px 0px 5px;
}

.powerButtonInactive {
  width: 100px;
  background-color: rgb(86, 42, 42);
  border: 1px solid rgb(191, 75, 75);
}

.powerButtonActive {
  width: 100px;
  background-color: rgb(48, 92, 50);
  border: 1px solid rgb(75, 191, 104);
}

.volumeInput {
  /* Set the width and height */
  width: 100%;
  height: 0px;
  margin: 5px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  padding: 5px 0;
  box-shadow: 1px 1px 5px #071724;
}

/* Style the thumb */
.volumeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background-color: rgb(33, 33, 33);
  border-radius: 20%;
  box-shadow: 0 0 5px rgb(146, 146, 146);
}

/* Style the track */
.volumeInput::-webkit-slider-runnable-track {
  height: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}

/* Style the thumb on Firefox */
.volumeInput::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 5px #2196f3;
}

/* Style the track on Firefox */
.volumeInput::-moz-range-track {
  height: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}

.myFooter {
  /* color: #333; */
  font-size: 12px;
  text-align: end;
  margin: 5px;
  /* width: 100vw; */
}

a {
  text-decoration: none;
  color: black;
}
